<a href="https://colab.research.google.com/github/gleetx/bootcamp/blob/main/Module%200/Session%206/m0s6nb01_loops_comprehensions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Loops and Comprehensions

1. **Python Loops**
2. **Comprehensions:  Lists and Dicts**

## Python Loop Types

### 1. Iterate over a sequence, using a `for` loop

In [32]:
# Iterating over a list
print("List Iteration")

l = ["msa", "cse", "6040"]
for i in l:
    print(i)

List Iteration
msa
cse
6040

In [33]:
# Iterating over a tuple (immutable)

print("\nTuple Iteration")

t = ("msa", "cse", "6040")
for i in t:
    print(i)

Tuple Iteration
msa
cse
6040

In [34]:
# Iterating over a String
print("\nString Iteration")
s = "msa cse 6040"
for i in s :
    print(i)

String Iteration
m
s
a

c
s
e

6
0
4
0

In [35]:
# Iterating over dictionary
print("\nDictionary Iteration")
d = dict()
d['0'] = "msa"
d['1'] = "cse"
d['2'] = '6040'

for i in d :
    print("{} : {}".format(i , d[i]))

print(d)

Dictionary Iteration
0 : msa
1 : cse
2 : 6040
{'0': 'msa', '1': 'cse', '2': '6040'}

In [36]:
#Iterating over a set
print("\nSet Iteration")
set1 = {1,2,3,4,5,6}
for i in set1:
    print(i)

Set Iteration
1
2
3
4
5
6

### 2. Iterating over a sequence by index, using a `for` loop

In [37]:
course_list = ['msa' , 'cse' , '6040']

# output the index number
for index in range(len(course_list)):
    print(index)

0
1
2

In [38]:
# output the value at the index
for index in range(len(course_list)):
    print(course_list[index])

msa
cse
6040

#### Very useful - range() function  -- Recall that we went over this in detail previously

Please look at this link for more details - https://cs.stanford.edu/people/nick/py/python-range.html

In [39]:
a = list(range(10))
b = list(range(5,10))
c = list(range(0,10,3))

In [40]:
print('One argument form - {}'.format(a))
print('Two argument form - {}'.format(b))
print('Three argument form - {}'.format(c))

One argument form - [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
Two argument form - [5, 6, 7, 8, 9]
Three argument form - [0, 3, 6, 9]

#### So what have we done here?

In [41]:
new_list = []
for n in range(10):
  new_list.append(n)
print(new_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [42]:
# same as above
range_list = []
for x in range(10):
    range_list.append(x)
display(range_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# Topic 2 -  Comprehensions in Python

1. List Comprehension
2. Dictionary Comprehension

### 1. List Comprehension

A list comprehension consists of the following parts -
1. An Input Sequence.
2. A Variable representing members of the input sequence.
3. An optional Conditional Expression.
4. An Output Expression producing elements of the output list from members of the Input Sequence that satisfy the predicate.

![list_format.png](https://github.com/gt-cse-6040/bootcamp/blob/main/Module%200/Session%206/list_format.png?raw=1)

In [43]:
# loop format -- recall from above
range_list = []
for x in range(10):
    range_list.append(x)
display(range_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [44]:
display([i for i in range(10)])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [45]:
# comprehension format
range_list_comp = [x for x in range(10)]
display(range_list_comp)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

#### Now let's add a level of complexity.

Let's create a list of mixed integers and strings, and only output a result if the input is an integer.

In [46]:
a_list = [1, '4', 9, 'a', 0, 4]
a_list

[1, '4', 9, 'a', 0, 4]

In [47]:
tsq_list = []
for e in a_list:
    if(type(e) == int):
        sq_list.append(e*e)

sq_list

[1, 81, 0, 16, 1, 81, 0, 16]

![Screen%20Shot%202022-08-27%20at%206.23.51%20PM.png](https://github.com/gt-cse-6040/bootcamp/blob/main/Module%200/Session%206/list_format_2.png?raw=1)

In [48]:

a_list

[1, '4', 9, 'a', 0, 4]

In [49]:
squared_ints = [e**2 for e in a_list if type(e) == int]
print(squared_ints)

[1, 81, 0, 16]

#### Another example

In [50]:

my_list = [1,2,3,4,5,6,7,8,9,10]

In [51]:
# using a loop
new_list_loop = []
for number in my_list:
    # using modulus operator, which returns the remainder of a division
    # so this statement only returns even numbers
    if number % 2 == 0:
        new_list_loop.append(number)

new_list_loop

[2, 4, 6, 8, 10]

In [52]:

# list comprehension
new_list_comp = [number for number in my_list if number % 2 == 0]
new_list_comp

[2, 4, 6, 8, 10]

In [53]:
# loop using if else
new_list_loop_2 = []
for number in my_list:
    # using modulus operator, which returns the remainder of a division
    # so this statement only returns even numbers
    if number % 2 == 0:
        new_list_loop_2.append(number)
    else:
        new_list_loop_2.append(15)

new_list_loop_2

[15, 2, 15, 4, 15, 6, 15, 8, 15, 10]

In [54]:
new_list_1 = [number if number % 2 == 0 else 15 for number in my_list ]
new_list_1

[15, 2, 15, 4, 15, 6, 15, 8, 15, 10]

In [55]:
# string function in the comprehension
colors = ["pink", "white", "blue", "black", "purple"]
[color.upper() for color in colors]

['PINK', 'WHITE', 'BLUE', 'BLACK', 'PURPLE']

#### What if we want to take a list of names and change their format to be last name, first name?

Simple two step process, using list comprehensions. Note that there are `many ways` you can perform this operation, and we are just showing a simple way, to illustrate using comprehensions.

In [57]:
# list of names
presidents_usa = ["George Washington", "John Adams","Thomas Jefferson","James Madison","James Monroe","Andrew Jackson"]

In [59]:
# divide the names into first and last name elements
split_names = [name.split(" ") for name in presidents_usa]
#split_names = [tuple(name.split(" ")) for name in presidents_usa]  # just tried tuple for fun.  Works!
split_names

[['George', 'Washington'],
 ['John', 'Adams'],
 ['Thomas', 'Jefferson'],
 ['James', 'Madison'],
 ['James', 'Monroe'],
 ['Andrew', 'Jackson']]

#### Now let's put them back together, in a last name, first name format

In [60]:
swapped_list = [split_name[1] + ", " + split_name[0] for split_name in split_names]
swapped_list

['Washington, George',
 'Adams, John',
 'Jefferson, Thomas',
 'Madison, James',
 'Monroe, James',
 'Jackson, Andrew']

Let's now try to make this matrix using comprehensions. It will need a nested comprehension
![Screen%20Shot%202022-08-27%20at%206.35.38%20PM.png](https://github.com/gt-cse-6040/bootcamp/blob/main/Module%200/Session%206/matrix.png?raw=1)

In [66]:
cols = []   # this code is focusing on the indices and entering 0 or 1 as the value
rows = []
for row in range(3):   # start with looking at the first row
    for col in range(3):   # in that row, look at the first "col" entry
        if(col == row):
            cols.append(1)   # If row and col indices are equal, put a 1 else put a zero
        else:
            cols.append(0)
    rows.append(cols)
    cols = []  # resetting cols.  If don't do this, will keep appending to the same row and we will get a 3 x 9 matrix
rows

[[1, 0, 0], [0, 1, 0], [0, 0, 1]]

In [62]:
identity_matrix = [ [ 1 if item_idx == row_idx else 0 for item_idx in range(0, 3) ] for row_idx in range(0, 3) ]

In [63]:
identity_matrix

[[1, 0, 0], [0, 1, 0], [0, 0, 1]]

### 2. Dictionary Comprehension

![dict_comp_format_2.png](https://github.com/gt-cse-6040/bootcamp/blob/main/Module%200/Session%206/dict_comp_format_2.png?raw=1)

#### Let's look at an example, using a single variable to create the key: value pair.

In [67]:

# create dictionary using for loop
loop_dict = {}  # create empty dict
for num in range(1,11):
    loop_dict[num] = num*num

loop_dict

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

![dict_comp_format.png](https://github.com/gt-cse-6040/bootcamp/blob/main/Module%200/Session%206/dict_comp_format.png?raw=1)

In [68]:
comp_dict = {num: num*num for num in range(1,11)}
comp_dict

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

#### What about dictionary comprehension with an if statement?

![dict_comp_format_3.png](https://github.com/gt-cse-6040/bootcamp/blob/main/Module%200/Session%206/dict_comp_format_3.png?raw=1)

In [70]:
# a list of 3 dictionaries
persons = [
    {
        'name': 'Vuduc',
        'age': 40,
        'title': 'Data Scientist'
    },
    {
        'name': 'Sokol',
        'age': 45,
        'title': 'Data Engineer'
    },
    {
        'name': 'Wooley',
        'age': 43,
        'title': 'Program Director'
    }
]

In [71]:
# use a loop to create the dictionary
data_employees_loop = {}
for p in persons:
    if 'Data' in p['title']:
        data_employees_loop[p['name']] = p['title']  # assigning the value of ''name' as a key and assigning the value of 'title' as the new key-value
#     else:
#         print(p['name'])

In [73]:
data_employees_loop

{'Vuduc': 'Data Scientist', 'Sokol': 'Data Engineer'}

In [78]:
# create using dictionary comprehension
data_employees_comprehension = {p['name']:p['title'] for p in persons if 'Data' in p['title']}
# data_employees_comprehension = {p['name']:"even" for p in persons if 'Data' in p['title']}  # eg. of just giving a constant value based on a filter.

In [79]:
data_employees_comprehension

{'Vuduc': 'Data Scientist', 'Sokol': 'Data Engineer'}

### What are your questions on list and dictionary comprehensions?